main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem auto;
}

.buttonsContainer {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  width: 1050px;

  a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}