.pokemonPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 1100px;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    
    span {
      margin-left: 0.5rem;
      color: #63687E;
      font-size: 3rem;
      font-weight: bold
    }
  }
}

.selectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
  }

  span {
      font-size: 3rem;
      font-weight: bold
  }
}

.selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
  z-index: 99999;
  transition: background-color .2s;
  overflow: hidden;

  &:hover {
    background-color: black;
    cursor: pointer
  }
}

.openSelector {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  position: absolute;
  top: 3.9rem;
  left: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  animation-name: slideDown;
  animation-duration: .1s;
}

.selectorItem {
  padding: 0.3rem;
  transition: all 0.2s;
  border: none;
  background-color: var(--black);
  color: var(--white);
  text-transform: capitalize;
  width: 100%;

  &:hover {
    background-color: black;
    cursor: pointer
  }
}

.pageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.imageContainer {
  margin-top: 2rem;
  border-radius: 5px;
  background-color: var(--gray);
}

.flavor_text {
  width: 500px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0;
}

.pokemonInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray);
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.2s;

  span {
    display: flex;
    align-items: center;

    > button {
      margin-left: 0.2rem;
      line-height: 0;
      border: none;
      background-color: inherit;
      
      svg {
        transition: color .2s;
        color: #81879C;

        &:hover {
          color: #5a5f72
        }
      }
    }

  }
}

.infoModal {
  display: flex;
  flex-direction: column;
  width: 512px;
  font-size: 1rem;
  background-color: var(--black);
  color: var(--white);

  transition: background-color .2s;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
      transition: color .2s;

        &:hover {
          color: #5a5f72
        }
    }
  }

  h4 {
    font-size: 1rem;
  }
}

.typeContainer {
  h2 {
    margin-top: 2rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }
}

.typeTag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  border-radius: 500px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
