.headerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1050px;

  a {
   margin: 1rem 0;
   margin-left: 275px;
  }
}

.backButton {
  background-color: inherit;
  border: none;
}

@media screen and (max-width: 1050px) {
  .header {
    width: 950px;
  }
}

@media screen and (max-width: 920px) {
  .header {
    width: 900px;
  }
}

@media screen and (max-width: 830px) {
  .header {
    width: 800px;
  }
}


@media screen and (max-width: 780px) {
  .header {
    width: 100vw;
    justify-content: space-between;

    a {
      margin-left: 1rem;
    }
}

  .backButton {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header {
    // width: 500px;
    justify-content: center;
  }
}
