.statsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }
}

.stats {
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 5px
}

.emptyBar {
  position: relative;
  margin: 0.2rem 0 0.5rem;
  background-color: white;
  width: 1050px;
  height: 15px;
  border-radius: 5000px;
  overflow: hidden;
}

.fullBar {
  background-color: var(--red);
  height: 15px;
  position: relative;

  animation-name: fillingup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes fillingup {
  from {
    left: -500px
  }
  to {
    left: 0px
  }
}

@media screen and (max-width: 1050px) {
  .emptyBar {
    width: 950px;
  }
}

@media screen and (max-width: 920px) {
  .emptyBar {
    width: 870px;
  }
}

@media screen and (max-width: 830px) {
  .emptyBar {
    width: 770px;
  }
}

@media screen and (max-width: 770px) {
  .emptyBar {
    width: 720px;
  }
}

@media screen and (max-width: 550px) {
  .emptyBar {
    width: 472px;
  }
}

@media screen and (max-width: 430px) {
  .emptyBar {
    width: 372px;
  }
}

@media screen and (max-width: 400px) {
  .emptyBar {
    width: 322px;
  }
}

@media screen and (max-width: 300px) {
  .stats {
    span {
      font-size: 1rem !important;
    }
  }

  .emptyBar {
    width: 222px;
  }
}


